#wrapper {
    position: relative;
    padding: 30px;
}

#tokens {
    padding-top: 30px;
    text-align: center;
}
#tokens img {
    width: 80px;
}

#machine {
    position: relative;
    width: 300px;
    display: block;
    margin: auto;
    z-index: 2;
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#machine.squish {
    transform: scaleY(0.5);
}

#result {
    padding: 30px;
    font: 30px bold serif;
    text-align: center;
}
#result img {
    padding: 30px;
    width: 300px;
    display: block;
    margin: 30px auto;
    border: 1px solid blue;
}

#ball {
    width: 100px;
    position: absolute;
    top: 320px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
#ball.move {
    top: 520px;
    transition: top 0.5s cubic-bezier(0.11, 0, 0.5, 0);
}

#explosion {
    width: 320px;
    position: absolute;
    top: 320px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    display: none;
}
#explosion.explode {
    display: block;
}
