#machine-wrapper {
    
}

#machine {
    width: 300px;
    display: block;
    margin: auto;

    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#machine:active {
    transform: scaleY(0.5);
}
